.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: start;
}

@media (min-width: 992px) {
  .container {
    grid-template-columns: 2fr 1fr;
  }
}

.mainColumn {
  display: flex;
  flex-direction: column;
}

.sideColumn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
